asgiref
cachetools
certifi
charset-normalize
crispy-bootstrap4
Django
django-cleanup
django-crispy-forms
django-storages
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
idna
packaging
pillow
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
python-dotenv
requests
rsa
sqlparse
tzdata
urllib3
whitenoise