{% extends 'basis/main.html' %}
{% load static %}

{% block content %}
<style>
    a>.nav_button.home{
        background-color: #ffce8a;
        pointer-events: none;
        .text{
            color: #1e2233;
        }
    }
</style>

<div class="intro light content_block">
    <div class="content_holder">
        <p class="intro_title">Hello! I'm <span class="highlights">Bianca Angelis</span>!</p>
    </div>
    <div class="content_holder">
        <img class="profile_pic" src="{% static 'image/profpic.jpg' %}">
    </div>
</div>
<div class="dark content_block">
    
</div>

{% endblock content %}