{% extends 'basis/main.html' %}

{% block content %}
<style>
    a>.nav_button.home{
        background-color: #ffce8a;
        pointer-events: none;
        .text{
            color: #1e2233;
        }
    }
</style>

<div class="intro light content_block">
    <div class="content_holder">
        <p class="title">Hello, and welcome! I'm Bianca Angelis!</p>
    </div>
    <div class="content_holder">
        <p>PLACEHOLDER</p>
    </div>
</div>
<div class="dark content_block">
    
</div>

{% endblock content %}