{% extends 'basis/main.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<style>
    a>.nav_button.home{
        background-color: #ffce8a;
        pointer-events: none;
        .text{
            color: #1e2233;
        }
    }
</style>

<div class="intro light content_block">
    <div class="content_holder">
        <p class="intro_title">{% trans "Hello, I am" %} <span class="highlights">Bianca Angelis</span>!</p>
    </div>
    <div class="content_holder">
        <img class="profile_pic" src="{% static 'image/profpic.jpg' %}">
    </div>
</div>
<div class="dark content_block">
    <div class="content_holder">
        <div class="circle">
            {% for i in repeat %}
                {% include 'basis/small_icons.html' %}
            {% endfor %}
        </div>
    </div>
    <div class="content_holder">
        <p class="text">
            I'm a <span class="highlights">Software Developer</span>! <br/>
            And am in love with <span class="highlights">Python</span>, <span class="highlights">Automation</span> and <span class="highlights">Game Design</span>.
        </p>
    </div>
</div>
{% endblock content %}