{% extends 'basis/main.html' %}
{% load static %}

{% block content %}
<style>
    a>.nav_button.create{
        background-color: #ffce8a;
        pointer-events: none;
        .text{
            color: #1e2233;
        }
    }
</style>

<div class="intro from_container">
    <h3>New Post</h3>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-primary" type="submit" value="Submit Post">
        
    </form>
</div>
{% endblock content %}